spring:
  main:
    allow-bean-definition-overriding: true
  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java
    livereload:
      enabled: true
  datasource:
    url: jdbc:mysql://localhost:3306/college?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&useSSL=false
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      pool-name: HikariCP
      minimum-idle: 5
      maximum-pool-size: 20
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-test-query: SELECT 1
  data:
    mongodb:
      uri: mongodb://localhost:27017/professional_memory_chat
  web:
    resources:
      static-locations: classpath:/static/,classpath:/public/,file:./static/

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.student.app.bean
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true

server:
  port: 80
  error:
    whitelabel:
      enabled: false
    path: /error

langchain4j:
  community:
    dashscope:
      streaming-chat-model:
        model-name: qwen-turbo
        api-key: sk-01641e0fd0564b098ccf251ad74918ff
